@import url("~leaflet/dist/leaflet.css");

body,
#root,
.leaflet-container {
  height: 50vh;
  width: 100vw;
}

.geojson-toggle{
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 1000;
  margin-top: 20px;
  background: white;
  font-size: 14px;
  padding: 4px;
  border-radius: 3px;
}